{% extends "base.html" %}

{% block content %}

    {% if validlink %}
        <p class="log-p">Пожалуйста, введите (и подтвердите) свой новый пароль.</p>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td class="log-name">{{ form.new_password1.errors }}
                        <label for="id_new_password1">Новый пароль:</label></td>
                    <td class="log-vod">{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td class="log-name">{{ form.new_password2.errors }}
                        <label for="id_new_password2">Потвердите пароль:</label></td>
                    <td class="log-vod">{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Измените пароль" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1 class="log-p">Не удалось сбросить пароль</h1>
        <p class="log-p">Ссылка на сброс пароля была недействительной, возможно, потому, что она уже использовалась. Пожалуйста, запросите новый сброс пароля.</p>
    {% endif %}

{% endblock %}