{% extends "base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}

		<h1 class="catalog-title"> Доставка и оплата	</h1>
		<p class="log-p"> Доставка производится через курьера, или клиент может забрать заказ из магазине по адресу: <br> <b>		 "Мандарин, торговый центр, ул. Азина, 103 — отдел "Акцент"	</b><br> Оплата производится через терменал или наличными магазина. <br>
		При доставке курьером оплата производится только наличными .</p>
{% endblock %}