{% extends "base.html" %}
{% load static %}
{% block title %}
    
{% endblock %}
{% block content %}
		<h1 class="catalog-title"> Компания "ООО Виктория плюс"	</h1>
		<p class="log-p"> По данным ЕГРЮЛ организация ООО "ВИКТОРИЯ ПЛЮС" зарегистрирована 20 января 2014 по адресу 427974, Удмуртская респ, г Сарапул, улица Гоголя, 76Д. Юр.лицу присвоены ОГРН 1141838000105, ИНН 1838014420, КПП 183801001. Основной вид деятельности — «Ремонт прочего оборудования» и «Продажа ювелирной бижутерии»	</p>
		<h1 class="catalog-title"></h1>
		<p class="log-p">
			
		</p>
{% endblock %}