{% extends "base.html" %}
{% load static %}
{% block title %}
    
{% endblock %}
{% block content %}
		<h1 class="catalog-title"> О магазине </h1>
		<p class="log-p">Наша компания "ООО ВИКТОРИЯ ПЛЮС" находится на рынке бижутерии уже более 5 лет и приобрела огромный опыт в подборе моделей,формировании ценовой политики. Наши модели всегда попадают в сезон , мы давно знаем вкусы клиентов и готовы предложить им именно то,что они готовы купить. <br>
		Мы продаем высококачественную юфелирную бижутерию. Наши украшения не вызывают аллергических реакций, а также не потвержены коррозии и окислению, благодоря чему, обеспечивается долгий срок службы изделий и их отличный внешний вид.
		<br>
		С нашими товаром вы можете ознакомится и преобрести в салоне продаж "Акцент" по адресу: <br> <b>"г.Сарапул ул.Азина дом 103 ТЦ"Мандарин" - отдел "Акцент""</b><br>
		Телефон магазина "8-912-463-92-93"
		 </p>
			
		</p>
{% endblock %}